<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<table class="table">
    <tbody>
    <tr>
        <td>Диагональ:</td>
        <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
        <td>Тип Дисплея:</td>
        <td>{{ product.display_type }}</td>
    </tr>
    <tr>
        <td>Разрешение экрана:</td>
        <td>{{ product.resolution }}</td>
    </tr>
    <tr>
        <td>объем батареи:</td>
        <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
        <td>оперативная память:</td>
        <td>{{ product.ran }}</td>
    </tr>
    <tr>
        <td>Наличие карты памяти:</td>
        <td>{{ product.sd }}</td>
    </tr>
    <tr>
        <td>максимальный объем встроенной памяти:</td>
        <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
        <td>Главная камера (MP):</td>
        <td>{{ product.main_cam_ap }}</td>
    </tr>
    <tr>
        <td>фронтальная камерa (MP):</td>
        <td>{{ product.front_cam_ap }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>

